<p id="notice"><%= notice %></p>

<h1>Listing Conceptos</h1>

<table>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Concepto</th>
      <th>Descripcion</th>
      <th>Imagen</th>
      <th>Category</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conceptos.each do |concepto| %>
      <tr>
        <td><%= concepto.clave %></td>
        <td><%= concepto.concepto %></td>
        <td><%= concepto.descripcion %></td>
        <td><%= concepto.imagen %></td>
        <td><%= concepto.category %></td>
        <td><%= concepto.activo %></td>
        <td><%= link_to 'Show', concepto %></td>
        <td><%= link_to 'Edit', edit_concepto_path(concepto) %></td>
        <td><%= link_to 'Destroy', concepto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concepto', new_concepto_path %>
