<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @concepto.clave %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @concepto.concepto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @concepto.descripcion %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @concepto.imagen %>
</p>

<p>
  <strong>Category:</strong>
  <%= @concepto.category %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @concepto.activo %>
</p>

<%= link_to 'Edit', edit_concepto_path(@concepto) %> |
<%= link_to 'Back', conceptos_path %>
