<tr>
	<td>
		<%= f.text_field :nombre, class: "form-control" %>			
	</td>
	<td>
		<%= f.text_field :porcentaje, class: "form-control" %>
	</td>
	<td><%= f.hidden_field :_destroy %>
		<%= check_box_tag 'Borrar', value=false, checked=false, options={class: "form-control borrar-beneficiario"} %>
	</td>
</tr>
