    <fieldset class="panel-body">
      <legend class="btn btn-primary">DATOS DEL CO-TITULAR</legend>
      <div class="panel panel-primary" style="margin-top: -20px">
        <div class="row panel-body">
          <div class="col-sm-12 col-md-!2 col-lg-12">
            <div class="row">
              <div class="form-group col-sm-6 col-md-4 col-lg-12">
                <%= f.label :nombre_del_co_titular %><br>
                <%= f.text_field :nombre_co_titular, class: "form-control" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <%= f.label 'Fecha de nacimiento' %><br>
                <%= f.text_field :fecha_nacimiento_ec, {type: "date", class: "form-control"} %>
              </div>
              <div class="form-group col-sm-6 col-md-4 col-lg-6">
                <%= f.label :email_ct %><br>
                <%= f.text_field :email_ct, class: "form-control" %>
              </div>
              <div class="form-group col-sm-6 col-md-4 col-lg-3">
                <%= f.label :telefono_celular_ct %><br>
                <%= f.text_field :telefono_celular_ct, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
