<fieldset class="panel-body">
  <legend class="btn btn-primary">DATOS PARA INGRESAR COMO SOCIO HERBAX</legend>
  <div class="panel panel-primary" style="margin-top: -20px">
    <div class="row panel-body">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="form-group col-sm-6 col-md-3 col-lg-3">
            <%= f.label :apellido_paterno %><br>
            <%= f.text_field :apellido_paterno, class: "form-control" %>
          </div>
          <div class="form-group col-sm-6 col-md-3 col-lg-3">
            <%= f.label :apellido_materno %><br>
            <%= f.text_field :apellido_materno, class: "form-control" %>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-4">
            <%= f.label :nombre %><br>
            <%= f.text_field :nombre, class: "form-control" %>
          </div>
          <div class="form-group col-sm-6 col-md-2 col-lg-2">
            <%= f.label :sexo %><br>
            <div class="row">
              <% [["Masculino", "M"], ["Femenino","F"]].each do | prompt, key | %>
              <div class="col-6">
                <%= f.radio_button :sexo, key %>
                <%= label_tag prompt %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-2 col-lg-3">
            <%= f.label :fecha_nacimiento %><br>
            <%= f.text_field :fecha_nacimiento, {type: "date", class: "form-control"} %>
          </div>
          <div class="form-group col-sm-6 col-md-3 col-lg-3">
            <%= f.label :estado_nacimiento_id %><br>
            <%= f.collection_select :estado_nacimiento_id, Estado.all, :id, :estado, {prompt: true}, class: "form-control" %>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <%= f.label :domicilio_particular %><br>
            <%= f.text_field :domicilio_particular, class: "form-control" %>
          </div>
          <div class="form-group col-sm-6 col-md-3 col-lg-3">
            <%= f.label :colonia %><br>
            <%= f.text_field :colonia, class: "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-2 col-lg-2">
            <%= f.label :codigo_postal %><br>
            <%= f.number_field :codigo_postal, class: "form-control" %>
          </div>
          <div class="form-group col-sm-6 col-md-3 col-lg-3">
            <%= f.label :documento_de_identificacion %><br>
            <%= f.select :documento_de_identificacion, options_for_select([["Credencial de Elector","INE"],["Pasaporte","PSP"]]), {prompt: true}, class: "form-control" %>
          </div>    
          <div class="form-group col-sm-6 col-md-2 col-lg-2">
            <%= f.label :telefono_particular %><br>
            <%= f.text_field :telefono_particular, class: "form-control" %>
          </div>
          <div class="form-group col-sm-6 col-md-2 col-lg-2">
            <%= f.label :telefono_celular %><br>
            <%= f.text_field :telefono_celular, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-3 col-lg-3">
            <%= f.label :email %><br>
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-4">
            <%= f.label :pais_id %><br>
            <%= f.collection_select :pais_id, Paise.where(id: [148, 68, 91]), :id, :pais, {prompt: true}, class: "form-control" %>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-4">
            <%= f.label :estado_id %><br>
            <%= f.collection_select :estado_id, Estado.all, :id, :estado, {prompt: true}, class: "form-control" %>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-4">
            <%= f.label :ciudad_id %><br>
            <%= f.collection_select :ciudad_id, Ciudad.all, :id, :nombre, {prompt: true}, class: "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-4 col-lg-4">
            <%= f.label :rfc %><br>
            <%= f.text_field :rfc, class: "form-control" %>
          </div>
          <div class="form-group col-sm-6 col-md-4 col-lg-4">
            <%= f.label :curp %><br>
            <%= f.text_field :curp, class: "form-control" %>
          </div>
          <div class="col-sm-0 col-md-0 col-lg-1">&nbsp;</div>
          <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <%= f.label :fecha_de_ingreso %><br>
            <%= f.text_field :fecha_de_ingreso, {type: "date", class: "form-control"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>