<div  class="panel-body">
  <%= form_for(@socio, html: {class: "new_socio form-default"}) do |f| %>
  <% if @socio.errors.any? %>
  <%= error_explanation_dialog @socio%>
  <% end %>
  <div class="row">
    <div class="form-group col-sm-6 col-md-3 col-lg-3">
      <%= f.label :numero %><br>
      <%= f.text_field :numero, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <%= render partial: 'datos_ingreso_socio', locals: {f: f} %>

      <%= render partial: 'datos_cotitular', locals: { f: f } %>

    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <%= render partial: 'kit_inscripcion', locals: { f: f }%>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-7">
      <%=render partial: 'socio_beneficiarios', locals: { f: f } %>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-5">
      <%= render partial: 'socio_patrocinador', locals: { f: f }%>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-8">
      <fieldset>
        <legend class="btn btn-primary">Productos para la modalidad de autoenvío</legend>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
          <table class="table table-sm table-striped table-hover" style="border: 1px solid green;">
            <thead>
              <tr class="btn-default">
                <th class="col-sm-1 col-md-1 col-lg-1">Cant.</th>
                <th class="col-sm-2 col-md-2 col-lg-3">Producto</th>
                <td class="col-sm-1 col-md-1 col-lg-1">Clave</td>
                <td class="col-sm-1 col-md-1 col-lg-1">Puntos</td>
                <td class="col-sm-1 col-md-1 col-lg-2">Precio Publico</td>
                <td class="col-sm-1 col-md-1 col-lg-2">Precio Socio</td>
                <td colspan="2" class="col-sm-1 col-md-1 col-lg-2">Total</td>
              </tr>
            </thead>
            <tbody id="socio_productos_fields">
              <%= f.fields_for :socio_productos do |builder| %>
                <%= render 'socio_producto_fields', f: builder %>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">

      <%= render partial: 'socio_forma_pago', locals: { f: f } %>

      <fieldset class="panel-body">
        <legend class="btn btn-primary">Documentos a Anexar Junto con su Solicitud</legend>
        <div class="panel panel-primary" style="margin-top: -20px">
          <div class="row panel-body">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="form-group col-sm-4 col-md-4 col-lg-4">
                  <%= f.label :copia_ife %><br>
                  <%= f.check_box :copia_ife %>
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4">
                  <%= f.label :copia_curp %><br>
                  <%= f.check_box :copia_curp %>
                </div>
                <div class="form-group col-sm-4 col-md-4 col-lg-4">
                  <%= f.label :copia_rfc %><br>
                  <%= f.check_box :copia_rfc %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>

    </div>
  </div>
  <div class="panel-footer">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  <% end %>
</div>