<div class="panel panel-primary">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <div style="width: 50px; height: 50px; margin: 15px"><%= check_box_tag 'kit', true, checked = false, class: "form-control" %></div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10">
      <div class="row" style="margin-top: 7px">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <span style="font-size: 20px; font-weight: bold;">KIT THE INSCRIPCION</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <span style="font-size: 20px; font-weight: bold;">BIENVENIDO A HERBAX</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <span style="margin-left: 15px; font-size: 20px; font-weight: bold;">Precio $2,390.00</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <span style="margin-left: 15px; font-size: 20px; font-weight: bold;">Contenido</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <span style="margin-left: 15px; font-size: 20px; font-weight: bold;">A) 2 Programas DETOX de 20 días</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <span style="margin-left: 15px; font-size: 20px; font-weight: bold;">B) 2 Magnotun 7s</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <span style="margin-left: 15px; font-size: 20px; font-weight: bold;">C) Papelería Corporativa</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <%= image_tag "kit_inscripcion.png" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <span style="margin-left: 15px; font-size: 20px; font-weight: bold;">Productos con valor de $4,200.00</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>
</div>