<fieldset class="panel-body">
  <legend class="btn btn-primary">Forma de Pago</legend>
  <div class="panel panel-primary"style="margin-top: -20px">
    <div class="row panel-body">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <%= f.fields_for :socio_forma_pago do |builder|%>
          <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <%= builder.label :forma_pago %><br>
            <div class="row">
              <%= forma_pago_radio_group(builder, :forma_pago) %>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <%= builder.label :numero_tarjeta %><br>
            <%= builder.text_field :numero_tarjeta, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <%= builder.label :vencimiento %><br>
            <%= builder.text_field :vencimiento, {type: "date", class: "form-control"}%>
          </div>              
          <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <%= builder.label :codigo_verificacion %><br>
            <%= builder.text_field :codigo_verificacion, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <%= builder.label :nombre_tarjeta %><br>
            <%= builder.text_field :nombre_tarjeta, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <%= builder.label :direccion %><br>
            <%= builder.text_field :direccion, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <%= builder.label :ciudad_id %><br>
            <%= builder.collection_select :ciudad_id, Ciudad.all, :id, :nombre, {prompt: true}, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <%= builder.label :estado_id %><br>
            <%= builder.collection_select :estado_id, Estado.all, :id, :estado, {prompt: true}, class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <%= builder.label :codigo_postal %><br>
            <%= builder.text_field :codigo_postal, class: "form-control" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</fieldset>