        <% @socios.each do |socio| %>
          <tr>
            <td><%= socio.numero %></td>
            <td><%= socio.nombre_completo %></td>
            <td><%= socio.sexo %></td>
            <td><%= socio.telefono_celular %></td>
            <td><%= socio.email %></td>
            <td><%= socio.ciudad %></td>
            <td><%= socio.estado %></td>
            <td><%= socio.pais %></td>
            <td><%= socio.rfc %></td>
            <td><%= link_to_show socio %></td>
            <td><%= link_to_edit edit_socio_path(socio) %></td>
            <td><%= link_to_destroy socio %></td>
          </tr>
        <% end %>
