<fieldset>
  <legend class="btn btn-primary">Beneficiarios</legend>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <table class="table table-striped table-hover" style="border: 1px solid green;">
        <thead>
          <tr class="btn-default">
            <th class="col-sm-4 col-md-4 col-lg-8">Nombre</th>
            <th class="col-sm-4 col-md-4 col-lg-2">Porcentaje</th>
            <td class="col-sm-4 col-md-4 col-lg-2"></td>
          </tr>
        </thead>
        <tbody id="beneficiarios_grid">
          <%= f.fields_for :beneficiarios do |builder| %>
          <%= render 'beneficiario_fields', f: builder %>
          <% end %>
        </tbody>
        <tfoot class="panel-footer">
          <tr>
            <td colspan="3"><%= link_to_add_fields 'Agregar Beneficiario', f, :beneficiarios, css_class="btn btn-info" %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</fieldset>