<fieldset class="panel-body">
  <legend class="btn btn-primary">PERSONA QUIEN LO PATROCINA</legend>
  <div class="panel panel-primary"style="margin-top: -20px">
    <div class="row panel-body">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="form-group col-sm-12 col-md-12 col-lg-12">
            <%= f.label :patrocinador %><br>
            <%= f.collection_select :parent_id, Socio.where(id: @socio.parent_id).limit(10), :id, :nombre_completo, {prompt: false}, {class: "form-control selectpicker",
              "data-live-search"=>"true", "show-tick"=>"", "data-header"=>"Selecione un patrocinador"} %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12 col-md-12 col-lg-8">
            <%= label_tag 'Nombre' %>
            <%= text_field_tag 'nombre_patrocinador', (@socio.parent.nombre_completo if @socio.parent)||'', readonly: true,  class: "form-control" %>
          </div>
          <div class="form-group col-sm-12 col-md-12 col-lg-4">
            <%= label_tag 'Numero de socio' %>
            <%= text_field_tag 'numero_socio_patrocinador', (@socio.parent.numero if @socio.parent)||'', readonly: true, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
