<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Modificar datos de Socio</h3>
	</div>

	<%= render 'form' %>

	<div class="panel-footer">
	<%= link_to 'Ver', @socio, class: "btn btn-primary" %> |
	<%= link_to 'Volver', socios_path, class: "btn btn-info"  %>
	</div>
</div>