<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Nuevo Socio</h3>
  </div>
  <%= render 'form' %>

</div>

<%= link_to 'Volver', socios_path, class: "btn btn-info" %>
