<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Información de Socio Herbax</h3>
  </div>
  
  <%= render :partial => "form" %>

  <div class="panel-footer">
    <%= link_to_edit_this edit_socio_path(@socio) %> | <%= link_to_back socios_path %>
  </div>
</div>
<%= disabler_script %>
