<% if signed_in? and current_usuario.role.permisos.first.can_see_index%>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h1>Mi Red:</h1>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div id='chart'></div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-8"></div>
			</div>
		</div>
	</div>
	<% if @tree_depth > 20 %>
	<%= render_tree(@chart) %>
	<% else %>
	<%= render_chart(@chart, 'chart') %>
	<% end %>
<% else %>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h1>Bienvenido al nuevo portal <%=company.humanize%>!</h1>
		</div>
	</div>
<% end %>