<div class="panel-body">
  <%= form_for(@ciudad, html: {class: "new_ciudad form-default"}) do |f| %>
  <% if @ciudad.errors.any? %>
    <%= error_explanation_dialog @ciudad %>
  <% end %>
  
  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.text_field :nombre, class: "form-control col-lg-2" %>
  </div>
  <div class="form-group">
    <%= f.label :nombre_corto %>
    <%= f.text_field :nombre_corto, class: "form-control col-lg-2" %>
  </div>
  <div class="form-group">
    <%= f.label :estado_id %>
    <%= f.collection_select :estado_id, Estado.all, :id, :estado, {prompt: true}, class: "form-control" %>
  </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
    </div>
<% end %>
</div>