<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Editar Ciudad</h3>
  </div>

  <%= render 'form' %>

</div>

<%= link_to 'Ver', @ciudad, class: "btn btn-primary" %> |
<%= link_to 'Volver', ciudads_path, class: "btn btn-info" %>
