<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <caption><h1>Ciudades</h1></caption>
  <table class="table table-striped table-hover">
    <thead>
      <tr class="info">
        <th>Nombre</th>
        <th>Nombre corto</th>
        <th>Estado</th>
        <th colspan="3">Acción</th>
      </tr>
    </thead>

    <tbody>
      <% @ciudads.each do |ciudad| %>
        <tr>
          <td><%= ciudad.nombre %></td>
          <td><%= ciudad.nombre_corto %></td>
          <td><%= ciudad.estado.estado if ciudad.estado %></td>
          <td><%= link_to 'Ver', ciudad, class: "btn btn-primary btn-xs" %></td>
          <td><%= link_to 'Editar', edit_ciudad_path(ciudad), class: "btn btn-info btn-xs" %></td>
          <td><%= link_to 'Eliminar', ciudad, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Nueva Ciudad', new_ciudad_path, class: "btn btn-success" %>
