<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Nueva Ciudad</h3>
  </div>

	<%= render 'form' %>

</div>

<%= link_to 'Volver', ciudads_path, class: "btn btn-info" %>
