<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Ver Ciudad</h3>
  </div>
  <div class="panel-body">
		<p>
		  <strong>Nombre:</strong>
		  <%= @ciudad.nombre %>
		</p>

		<p>
		  <strong>Nombre corto:</strong>
		  <%= @ciudad.nombre_corto %>
		</p>

		<p>
		  <strong>Estado:</strong>
		  <%= @ciudad.estado_id %>
		</p>

	</div>
</div>

<%= link_to 'Editar', edit_ciudad_path(@ciudad), class: "btn btn-primary" %> |
<%= link_to 'Volver', ciudads_path, class: "btn btn-info" %>
