<%= form_for(@permiso) do |f| %>
  <% if @permiso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permiso.errors.count, "error") %> prohibited this permiso from being saved:</h2>

      <ul>
      <% @permiso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :can_see_index %><br>
    <%= f.check_box :can_see_index %>
  </div>
  <div class="field">
    <%= f.label :can_show %><br>
    <%= f.check_box :can_show %>
  </div>
  <div class="field">
    <%= f.label :can_create_new %><br>
    <%= f.check_box :can_create_new %>
  </div>
  <div class="field">
    <%= f.label :can_edit %><br>
    <%= f.check_box :can_edit %>
  </div>
  <div class="field">
    <%= f.label :can_delete %><br>
    <%= f.check_box :can_delete %>
  </div>
  <div class="field">
    <%= f.label :can_print %><br>
    <%= f.check_box :can_print %>
  </div>
  <div class="field">
    <%= f.label :can_export %><br>
    <%= f.check_box :can_export %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
