<p id="notice"><%= notice %></p>

<h1>Listing Permisos</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Tipo accion</th>
      <th>Parent</th>
      <th>Treepath</th>
      <th>Node level</th>
      <th>Has child</th>
      <th>Iorder</th>
      <th>Object</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permisos.each do |permiso| %>
      <tr>
        <td><%= permiso.descripcion %></td>
        <td><%= permiso.can_see_index %></td>
        <td><%= permiso.can_show %></td>
        <td><%= permiso.can_create_new %></td>
        <td><%= permiso.can_edit %></td>
        <td><%= permiso.can_delete %></td>
        <td><%= permiso.can_print %></td>
        <td><%= permiso.can_export %></td>
        <td><%= link_to 'Show', permiso %></td>
        <td><%= link_to 'Edit', edit_permiso_path(permiso) %></td>
        <td><%= link_to 'Destroy', permiso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permiso', new_permiso_path %>
