<div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2"></div>
  <div class="col-sm-8 col-md-8 col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Editar mi perfil</h3>
      </div>
      <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :usuario %><br />
          <%= f.text_field :usuario, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control"  %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, t(:password_label) %> <i><%=t(:leave_it_blank)%></i><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
          <% if @minimum_password_length %>
            <br />
            <em><%=@minimum_password_length%> <%=t(:minimum_chars)%></em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, t(:password_confirmation_label) %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= f.label :current_password, t(:current_password_label) %> <i><%=t(:current_password_needed)%></i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control"  %>
        </div>

        <div class="actions">
          <%= f.submit "Actualizar" %>
        </div>
      <% end %>
    </div>
  <div class="panel-footer">
    <%= link_to 'Volver', :back, class: "btn btn-info" %>
  </div>
  </div>
</div>
  <div class="col-sm-2 col-md-2 col-lg-2"></div>
</div>
</div>
