<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Registrarse</h2>
  </div>
  <div class="panel-body">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-default") do |f| %>
    <%= devise_error_messages! %>


    <div class="field">
      <%= f.label :usuario %><br />
      <%= f.text_field :usuario, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Registrarse" %>
    </div>
  <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>