<% if signed_in? %>
<div class="row panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Estado de Cuenta</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <% hoy = Date.today %>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <% 5.downto(0) do |n| %>
          <% mes = hoy - ( n * 30)%>
          <div class="col-sm-12 col-md-2 col-lg-2">
            <%= link_to "#{@mes[mes.month]} - #{mes.year}", "#", class: "btn btn-#{mes.month == hoy.month ? "success": "info"} btn-control2", data: {cid: @cliente, month: mes.month, year: mes.year } %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <div class="row">
          <% [["1ra Quincena", "1"], ["2da Quincena","2"]].each do | prompt, key | %>
          <div class="col-sm-6 col-md-12 col-lg-12">
            <%= radio_button_tag 'quincena', key %><%= label_tag "quincena_#{key}", prompt %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <%= select_tag "modalidad", options_for_select([["Resumen","01"],["Reporte detallado","02"]]), {prompt: false, class: "btn btn-info"} %>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 float-right">
            <%= radio_group_toogle_bs(@paises) %>
				  </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
	      <iframe src="" id="myFrame" class="col-sm-12 col-md-12 col-lg-12"></iframe>
      </div>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
	$('#countries-btn').button('toggle');
</script>