  <div  class="panel-body">
  <%= form_for(@pago, html: {class: "new_pago form-default"}) do |f| %>
    <% if @pago.errors.any? %>
      <%= error_explanation_dialog @pago%>
    <% end %>

    <div class="row">
      <%= form_text_field f, :folio, 'col-lg-2 col-md-2 col-sm-2', {readonly: true, size: 10} %>
      <%= form_text_field f, :fecha, 'col-sm-12 col-md-2 col-lg-2', {type: "date"}  %>
      <div class="col-lg-6 col-md-6 col-sm-6">&nbsp;</div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <%= current_usuario.usuario %>
      </div>
    </div>
    <div class="row">
      <%= form_collection_select f, :categoria_id, Category.where(parent_id: 213), :id, :category_tree, 'col-lg-10 col-md-10 col-sm-12' %>
      <%= form_text_field f, :monto, 'col-lg-2 col-md-2 col-sm-2' %>
    </div>
      <%= hidden_field_tag 'pago[usuario_id]', current_usuario.id, options={readonly: true} %> 
    <div class="row">
      <%= form_collection_select f, :alumno_id, Alumno.all, :id, :nombre_completo, 'col-lg-12 col-md-12 col-sm-12' %>
    </div>
    <div class="row">
      <%= form_text_field f, :concepto, 'col-sm-12 col-md-12 col-lg-12' %>
    </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <%= f.submit "Guardar", class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>
    
  </div>