    <% @pagos.each do |pago| %>
      <tr>
        <td><%= pago.folio %></td>
        <td><%= pago.fecha %></td>
        <td><%= pago.monto %></td>
        <td><%= pago.categoria %></td>
        <td><%= pago.usuario %></td>
        <td><%= pago.alumno %></td>
        <td><%= link_to 'Show', pago %></td>
        <td><%= link_to 'Edit', edit_pago_path(pago) %></td>
        <td><%= link_to 'Destroy', pago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
