<div class="panel panel-default">
  <%= panel_heading_with_search_box 'Pago' %>
  <div class="panel-body">
    <table class="table table-striped table-hover panel-body">
      <thead>
        <tr class="info">
      <th>Folio</th>
      <th>Fecha</th>
      <th>Monto</th>
      <th>Categoria</th>
      <th>Usuario</th>
      <th>Alumno</th>
      <th colspan="3">Acción</th>
    </tr>
  </thead>

  <tbody id="pagos_grid">
    <%= render :partial => "pagos_grid" %> 
  </tbody>
</table>
</div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2">
        <%= link_to new_pago_path, class: "btn btn-success" do%><%= glyph_icon 'Agregar Pago', 'plus'%><%end%>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
          <%= link_to pagos_path(:format => "pdf"), class: "btn btn-info" do%><%= glyph_icon 'Reporte de pagos', 'print'%><%end%>
        </div>
      <div id="pagination-bar" style="margin-top: -20px" class="col-sm-8 col-sm-8 col-lg-8">
        <%= render :partial => "pagination_bar"%>
      </div>
    </div>
  </div>
</div>
