<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @pago.folio %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pago.fecha %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @pago.monto %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @pago.categoria_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @pago.usuario %>
</p>

<p>
  <strong>Alumno:</strong>
  <%= @pago.alumno %>
</p>

<%= link_to 'Edit', edit_pago_path(@pago) %> |
<%= link_to 'Back', pagos_path %>
