<p id="notice"><%= notice %></p>

<h1>Listing Facturas</h1>

<table>
  <thead>
    <tr>
      <th>Folio</th>
      <th>Fecha</th>
      <th>Tipo factura</th>
      <th>Proveedor</th>
      <th>Sub total</th>
      <th>Iva</th>
      <th>Total</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= factura.folio %></td>
        <td><%= factura.fecha %></td>
        <td><%= factura.tipo_factura %></td>
        <td><%= factura.proveedor %></td>
        <td><%= factura.sub_total %></td>
        <td><%= factura.iva %></td>
        <td><%= factura.total %></td>
        <td><%= factura.usuario %></td>
        <td><%= link_to 'Show', factura %></td>
        <td><%= link_to 'Edit', edit_factura_path(factura) %></td>
        <td><%= link_to 'Destroy', factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factura', new_factura_path %>
