<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @factura.folio %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @factura.fecha %>
</p>

<p>
  <strong>Tipo factura:</strong>
  <%= @factura.tipo_factura %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @factura.proveedor %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= @factura.sub_total %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @factura.iva %>
</p>

<p>
  <strong>Total:</strong>
  <%= @factura.total %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @factura.usuario %>
</p>

<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
