<%= form_for(@plan_de_negocio) do |f| %>
  <% if @plan_de_negocio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan_de_negocio.errors.count, "error") %> prohibited this plan_de_negocio from being saved:</h2>

      <ul>
      <% @plan_de_negocio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :socio_id %><br>
    <%= f.text_field :socio_id %>
  </div>
  <div class="field">
    <%= f.label :folio %><br>
    <%= f.number_field :folio %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.text_field :monto %>
  </div>
  <div class="field">
    <%= f.label :nivel %><br>
    <%= f.number_field :nivel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
