<p id="notice"><%= notice %></p>

<h1>Listing Plan De Negocios</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Socio</th>
      <th>Folio</th>
      <th>Monto</th>
      <th>Nivel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plan_de_negocios.each do |plan_de_negocio| %>
      <tr>
        <td><%= plan_de_negocio.fecha %></td>
        <td><%= plan_de_negocio.socio %></td>
        <td><%= plan_de_negocio.folio %></td>
        <td><%= plan_de_negocio.monto %></td>
        <td><%= plan_de_negocio.nivel %></td>
        <td><%= link_to 'Show', plan_de_negocio %></td>
        <td><%= link_to 'Edit', edit_plan_de_negocio_path(plan_de_negocio) %></td>
        <td><%= link_to 'Destroy', plan_de_negocio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan de negocio', new_plan_de_negocio_path %>
