<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @plan_de_negocio.fecha %>
</p>

<p>
  <strong>Socio:</strong>
  <%= @plan_de_negocio.socio %>
</p>

<p>
  <strong>Folio:</strong>
  <%= @plan_de_negocio.folio %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @plan_de_negocio.monto %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @plan_de_negocio.nivel %>
</p>

<%= link_to 'Edit', edit_plan_de_negocio_path(@plan_de_negocio) %> |
<%= link_to 'Back', plan_de_negocios_path %>
