<p id="notice"><%= notice %></p>

<h1>Listing Proveedors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Rfc</th>
      <th>Domicilio</th>
      <th>Numero interior</th>
      <th>Numero exterior</th>
      <th>Ciudad</th>
      <th>Estado</th>
      <th>Codigo postal</th>
      <th>Telefono1</th>
      <th>Telefono2</th>
      <th>Telefono3</th>
      <th>Contacto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proveedors.each do |proveedor| %>
      <tr>
        <td><%= proveedor.nombre %></td>
        <td><%= proveedor.rfc %></td>
        <td><%= proveedor.domicilio %></td>
        <td><%= proveedor.numero_interior %></td>
        <td><%= proveedor.numero_exterior %></td>
        <td><%= proveedor.ciudad %></td>
        <td><%= proveedor.estado %></td>
        <td><%= proveedor.codigo_postal %></td>
        <td><%= proveedor.telefono1 %></td>
        <td><%= proveedor.telefono2 %></td>
        <td><%= proveedor.telefono3 %></td>
        <td><%= proveedor.contacto %></td>
        <td><%= link_to 'Show', proveedor %></td>
        <td><%= link_to 'Edit', edit_proveedor_path(proveedor) %></td>
        <td><%= link_to 'Destroy', proveedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proveedor', new_proveedor_path %>
