<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proveedor.nombre %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @proveedor.rfc %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @proveedor.domicilio %>
</p>

<p>
  <strong>Numero interior:</strong>
  <%= @proveedor.numero_interior %>
</p>

<p>
  <strong>Numero exterior:</strong>
  <%= @proveedor.numero_exterior %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @proveedor.ciudad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @proveedor.estado %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @proveedor.codigo_postal %>
</p>

<p>
  <strong>Telefono1:</strong>
  <%= @proveedor.telefono1 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @proveedor.telefono2 %>
</p>

<p>
  <strong>Telefono3:</strong>
  <%= @proveedor.telefono3 %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @proveedor.contacto %>
</p>

<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedors_path %>
