    <% @cliente_elites.each do |cliente_elite| %>
      <tr>
        <td><%= cliente_elite.numero %></td>
        <td><%= cliente_elite.nombre_completo %></td>
        <td><%= cliente_elite.sexo %></td>
        <td><%= cliente_elite.telefono_celular %></td>
        <td><%= cliente_elite.email %></td>
        <td><%= cliente_elite.ciudad %></td>
        <td><%= cliente_elite.estado %></td>
        <td><%= cliente_elite.pais %></td>
        <td><%= cliente_elite.rfc %></td>
        <td><%= cliente_elite.socio %></td>
        <td><%= link_to_show cliente_elite %></td>
        <td><%= link_to_edit edit_cliente_elite_path(cliente_elite) %></td>
        <td><%= link_to_destroy cliente_elite %></td>
      </tr>
    <% end %>
