<tr>
	<td> 
		<%= f.hidden_field :producto_id %>
		<%= f.text_field :cantidad, class: "form-control" %>			
	</td>
	<td>
		<%= f.text_field :d_producto , readonly: true, class: "form-control" %>
	</td>
	<td>
		<%= f.text_field :clave, readonly: true, class: "form-control" %>
	</td>
	<td>
		<%= f.text_field :puntos, readonly: true, class: "form-control" %>
	</td>
	<td>
		<%= f.text_field :precio_publico, readonly: true, class: "form-control" %>
	</td>
	<td>
		<%= f.text_field :precio_cliente, readonly: true, class: "form-control" %>
	</td>
	<td>
		<%= f.text_field :total, readonly: true, class: "form-control" %>
	</td>
	<td><%= f.hidden_field :_destroy %>
		<%= check_box_tag 'Borrar', value=false, checked=false, options={class: "form-control borrar-beneficiario"} %>
	</td>
</tr>
