<div class="panel-body">
  <%= form_for(@cliente_elite, html: {class: "new_cliente_elite form-default"}) do |f| %>
    <% if @cliente_elite.errors.any? %>
      <%=error_explanation_dialog @cliente_elite %>
    <% end %>

    <div class="row">
      <div class="form-group col-sm-6 col-md-6 col-lg-2">
        <%= f.label :numero %><br>
        <%= f.text_field :numero, class: "form-control" %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-11"></div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4 col-md-4 col-lg-3">
        <%= f.label :apellido_paterno %><br>
        <%= f.text_field :apellido_paterno, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4 col-md-4 col-lg-3">
        <%= f.label :apellido_materno %><br>
        <%= f.text_field :apellido_materno, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4 col-md-4 col-lg-2">
        <%= f.label :fecha_nacimiento %><br>
        <%= f.text_field :fecha_nacimiento, {type: "date", class: "form-control"} %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4 col-sm-4 col-lg-5">
        <%= f.label :domicilio_particular %><br>
        <%= f.text_field :domicilio_particular, class: "form-control" %>
      </div>
      <div class="form-group col-md-4 col-sm-4 col-lg-5">
        <%= f.label :colonia %><br>
        <%= f.text_field :colonia, class: "form-control" %>
      </div>
      <div class="form-group col-md-4 col-sm-4 col-lg-2">
        <%= f.label :codigo_postal %><br>
        <%= f.number_field :codigo_postal, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <%= f.label :identificacion %><br>
        <%= f.text_field :identificacion, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <%= f.label :estado_donde_nacio_id %><br>
        <%= f.collection_select :estado_donde_nacio_id, Estado.all, :id, :estado, {prompt: true}, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <%= f.label :sexo %><br>
        <%= f.select :sexo, options_for_select([["Masculino", "M"], ["Femenino","F"]]), {prompt: true}, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4 col-md-4 col-lg-3">
        <%= f.label :telefono_particular %><br>
        <%= f.text_field :telefono_particular, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4 col-md-4 col-lg-3">
        <%= f.label :telefono_celular %><br>
        <%= f.text_field :telefono_celular, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4 col-md-4 col-lg-6">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <%= f.label :pais_id %><br>
        <%= f.collection_select :pais_id, Paise.where(id: [148, 68, 91]), :id, :pais, {prompt: true}, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <%= f.label :estado_id %><br>
        <%= f.collection_select :estado_id, Estado.all, :id, :estado, {prompt: true}, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <%= f.label :ciudad_id %><br>
        <%= f.collection_select :ciudad_id, Ciudad.all, :id, :nombre, {prompt: true}, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <%= f.label :rfc %><br>
        <%= f.text_field :rfc, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <%= f.label :curp %><br>
        <%= f.text_field :curp, class: "form-control" %>
      </div>
      <div class="form-group col-sm-4 col-md-4 col-lg-4">
        <%= f.label :fecha_de_ingreso %><br>
        <%= f.text_field :fecha_de_ingreso, {type: "date", class: "form-control"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-8">
        <fieldset class="panel-body">
          <legend class="btn btn-primary">Productos para la modalidad de autoenvío</legend>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table table-sm table-striped table-hove" style="border: 1px solid green;">
              <thead>
                <tr class="btn-default">
                  <th class="col-sm-1 col-md-1 col-lg-1">Cant.</th>
                  <th class="col-sm-2 col-md-2 col-lg-3">Producto</th>
                  <td class="col-sm-1 col-md-1 col-lg-1">Clave</td>
                  <td class="col-sm-1 col-md-1 col-lg-1">Puntos</td>
                  <td class="col-sm-1 col-md-1 col-lg-2">Precio Publico</td>
                  <td class="col-sm-1 col-md-1 col-lg-2">Precio Cliente</td>
                  <td colspan="2" class="col-sm-1 col-md-1 col-lg-2">Total</td>
                </tr>
              </thead>
              <tbody id="cliente_elite_productos">
                <%= f.fields_for :cliente_elite_productos do |builder| %>
                  <%= render 'cliente_elite_producto_fields', f: builder %>
                <% end %>
              </tbody>
              <tfoot class="panel-footer">
                <tr>
                  <td colspan="8"><%= link_to_add_fields 'Agregar producto', f, :cliente_elite_productos, css_class="btn btn-info" %></td>
                </tr>
              </tfoot>
            </table>
            </div>
          </div>
        </fieldset>
        <%= render partial: 'socio_patrocinador', locals: { f: f } %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <fieldset style="border: 1px solid green;" class="panel-body">
              <legend class="btn btn-primary">Forma de Pago</legend>
              <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
              <table class="table col-12">
                <tbody>
                  <%= f.fields_for :cliente_elite_forma_pago do |builder|%>
                    <tr class="form-group">
                      <td><%= builder.label :forma_pago %>
                        <table>
                          <tr class="row">
                          <td class="col-12">
                            <div class="row">
                              <%= forma_pago_radio_group(builder, :forma_pago) %>
                            </div>
                          </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr class="form-group">
                      <td><%= builder.label :numero_tarjeta %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.text_field :numero_tarjeta, class: "form-control" %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.label :vencimiento %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.text_field :vencimiento, {type: "date", class: "form-control"}%></td></tr>
                    <tr class="form-group">
                      <td><%= builder.label :codigo_verificacion %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.text_field :codigo_verificacion, class: "form-control" %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.label :nombre_tarjeta %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.text_field :nombre_tarjeta, class: "form-control" %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.label :direccion %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.text_field :direccion, class: "form-control" %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.label :ciudad_id %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.collection_select :ciudad_id, Ciudad.all, :id, :nombre, {prompt: true}, class: "form-control" %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.label :estado_id %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.collection_select :estado_id, Estado.all, :id, :estado, {prompt: true}, class: "form-control" %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.label :codigo_postal %></td></tr>
                    <tr class="form-group">
                      <td><%= builder.text_field :codigo_postal, class: "form-control" %></td>
                    </tr>
                  <% end %>
                </tbody> 
              </table></div></div>
            </fieldset>
          </div>
        </div>
        <div class="row"><div class="col-12">&nbsp;</div></div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>