        <div class="row">
          <div class="col-lg-12">
            <fieldset class="panel-body">
              <legend class="btn btn-primary">SOCIO HERBAX QUE LE INVITÓ:</legend>
              <div class="form-group col-12">
                <%= f.collection_select :socio_id, Socio.where(id: @cliente_elite.socio_id).limit(10), :id, :nombre_completo, {prompt: false}, {class: "form-control selectpicker",
              "data-live-search"=>"true", "show-tick"=>"", "data-header"=>"Selecione un Socio"} %>
              </div>
            </fieldset>
          </div>
        </div>
