<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Modificar datos de Cliente Elite</h3>
	</div>

	<%= render 'form' %>

	<div class="panel-footer">
		<%= link_to 'Ver', @cliente_elite, class: "btn btn-primary" %> |
		<%= link_to 'Volver', cliente_elites_path, class: "btn btn-info" %>
	</div>
</div>