<div class="panel panel-default">
  <%= panel_heading_with_search_box 'ClienteElite' %>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="btn-success">
        <th>Numero</th>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Telefono celular</th>
        <th>Email</th>
        <th>Ciudad</th>
        <th>Estado</th>
        <th>Pais</th>
        <th>Rfc</th>
        <th>Socio</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <tbody id="cliente_elites_grid">
    <%= render partial: 'cliente_elites_grid' %>
  </tbody>
</table>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2">
        <%= link_to new_cliente_elite_path, class: "btn btn-success" do%><%= glyph_icon 'Nuevo Cliente', 'plus'%><%end%>
      </div>
    </div>
  </div>
</div>
