<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Nuevo Cliente Elite</h3>
  </div>

  <%= render 'form' %>

</div>


<%= link_to 'Volver', cliente_elites_path, class: "btn btn-info" %>
