<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Información de Cliente Elite</h3>
  </div>
  
  <%= render :partial => "form" %>

  <div class="panel-footer">
    <%= link_to_edit_this edit_cliente_elite_path(@cliente_elite) %> | <%= link_to_back cliente_elites_path %>
  </div>
</div>
<%= disabler_script %>
