<%= form_for(@tipo_curso) do |f| %>
  <% if @tipo_curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_curso.errors.count, "error") %> prohibited this tipo_curso from being saved:</h2>

      <ul>
      <% @tipo_curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cve_curso %><br>
    <%= f.text_field :cve_curso %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :estatus %><br>
    <%= f.text_field :estatus %>
  </div>
  <div class="field">
    <%= f.label :total_curso %><br>
    <%= f.text_field :total_curso %>
  </div>
  <div class="field">
    <%= f.label :a002 %><br>
    <%= f.text_field :a002 %>
  </div>
  <div class="field">
    <%= f.label :a003 %><br>
    <%= f.text_field :a003 %>
  </div>
  <div class="field">
    <%= f.label :b001 %><br>
    <%= f.text_field :b001 %>
  </div>
  <div class="field">
    <%= f.label :b002 %><br>
    <%= f.text_field :b002 %>
  </div>
  <div class="field">
    <%= f.label :b003 %><br>
    <%= f.text_field :b003 %>
  </div>
  <div class="field">
    <%= f.label :b004 %><br>
    <%= f.text_field :b004 %>
  </div>
  <div class="field">
    <%= f.label :c003 %><br>
    <%= f.text_field :c003 %>
  </div>
  <div class="field">
    <%= f.label :p330 %><br>
    <%= f.text_field :p330 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
