<p id="notice"><%= notice %></p>


<div class="table-responsive">
  <caption><h1>Tipos de Cursos</h1></caption>
  <table class="table table-striped table-hover">
    <thead>
      <tr class="info">
      <th>Cve curso</th>
      <th>Descripcion</th>
      <th>Estatus</th>
      <th>Total curso</th>
      <th>A002</th>
      <th>A003</th>
      <th>B001</th>
      <th>B002</th>
      <th>B003</th>
      <th>B004</th>
      <th>C003</th>
      <th>P330</th>
      <th colspan="3">Acción</th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_cursos.each do |tipo_curso| %>
      <tr>
        <td><%= tipo_curso.cve_curso %></td>
        <td><%= tipo_curso.descripcion %></td>
        <td><%= tipo_curso.estatus %></td>
        <td><%= tipo_curso.total_curso %></td>
        <td><%= tipo_curso.a002 %></td>
        <td><%= tipo_curso.a003 %></td>
        <td><%= tipo_curso.b001 %></td>
        <td><%= tipo_curso.b002 %></td>
        <td><%= tipo_curso.b003 %></td>
        <td><%= tipo_curso.b004 %></td>
        <td><%= tipo_curso.c003 %></td>
        <td><%= tipo_curso.p330 %></td>
        <td><%= link_to 'Ver', tipo_curso, class: "btn btn-primary btn-xs"  %></td>
        <td><%= link_to 'Editar', edit_tipo_curso_path(tipo_curso), class: "btn btn-info btn-xs" %></td>
        <td><%= link_to 'Eliminar', tipo_curso, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nuevo Tipo de Curso', new_tipo_curso_path, class: "btn btn-success" %>

