<p id="notice"><%= notice %></p>

<p>
  <strong>Cve curso:</strong>
  <%= @tipo_curso.cve_curso %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_curso.descripcion %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @tipo_curso.estatus %>
</p>

<p>
  <strong>Total curso:</strong>
  <%= @tipo_curso.total_curso %>
</p>

<p>
  <strong>A002:</strong>
  <%= @tipo_curso.a002 %>
</p>

<p>
  <strong>A003:</strong>
  <%= @tipo_curso.a003 %>
</p>

<p>
  <strong>B001:</strong>
  <%= @tipo_curso.b001 %>
</p>

<p>
  <strong>B002:</strong>
  <%= @tipo_curso.b002 %>
</p>

<p>
  <strong>B003:</strong>
  <%= @tipo_curso.b003 %>
</p>

<p>
  <strong>B004:</strong>
  <%= @tipo_curso.b004 %>
</p>

<p>
  <strong>C003:</strong>
  <%= @tipo_curso.c003 %>
</p>

<p>
  <strong>P330:</strong>
  <%= @tipo_curso.p330 %>
</p>

<%= link_to 'Edit', edit_tipo_curso_path(@tipo_curso) %> |
<%= link_to 'Back', tipo_cursos_path %>
