<div class="row">
  <div class="col-sm-0 col-md-2 col-lg-3"></div>
  <div class="col-sm-12 col-md-8 col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-11">
            <span style="font-size: 24px">Ingresar</span>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-1">
            <span style="font-size: 24px">
            <i class="glyphicon glyphicon-lock"></i></span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => "form-default"}) do |f| %>
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>
              <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :recordarme %>
                </div>
              <% end -%>
              <div class="actions row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <%= button_tag class: "btn btn-primary" do %> 
                  <span style="font-size: 20px">Ingresar&nbsp;
                    <i class="glyphicon glyphicon-lock"></i></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="col-sm-0 col-md-2 col-lg-3"></div>
</div>
