<div class="panel-body">
<%= form_for(@role, html: {class: "new_role form-default"}) do |f| %>
  <% if @role.errors.any? %>
    <%= error_explanation_dialog @role %>
  <% end %>
  <div class="row">
    <div class="form-group col-sm-12 col-md-6 col-lg-6">
      <%= f.label :role_name %><br>
      <%= f.text_field :role_name, class: "form-control" %>
    </div>
  </div>
  <%= f.fields_for :permisos do |builder| %>
  <div class="row">
    <div class="form-group col-sm-2 col-md-2 col-lg-2">
      <%= builder.hidden_field :tipo_permiso_id %>
      <%= builder.label :descripcion %>
      <%= builder.text_field :descripcion, class: "form-control", :readonly => true %>
    </div>
    <div class="form-group col-sm-1 col-md-1 col-lg-1">
      <%= builder.label :can_see_index %>
      <%= builder.check_box :can_see_index, class: "form-control" %>
    </div>
    <div class="form-group col-sm-2 col-md-2 col-lg-2">
      <%= builder.label :can_show %>
      <%= builder.check_box :can_show, class: "form-control" %>
    </div>
    <div class="form-group col-sm-2 col-md-2 col-lg-2">
      <%= builder.label :can_create_new %>
      <%= builder.check_box :can_create_new, class: "form-control" %>
    </div>
    <div class="form-group col-sm-1 col-md-1 col-lg-1">
      <%= builder.label :can_edit %>
      <%= builder.check_box :can_edit, class: "form-control" %>
    </div>
    <div class="form-group col-sm-1 col-md-1 col-lg-1">
      <%= builder.label :can_delete %>
      <%= builder.check_box :can_delete, class: "form-control" %>
    </div>
    <div class="form-group col-sm-1 col-md-1 col-lg-1">
      <%= builder.label :can_print %>
      <%= builder.check_box :can_print, class: "form-control" %>
    </div>
    <div class="form-group col-sm-1 col-md-1 col-lg-1">
      <%= builder.label :can_export %>
      <%= builder.check_box :can_export, class: "form-control" %>
    </div>
  </div>
  <% end %>
  <div class="panel-footer">
    <div class="actions">
      <%= f.submit "Guardar cambios", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
</div>