<div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2"></div>
  <div class="col-sm-8 col-md-8 col-lg-8">
    <div class="panel panel-default">
      <%= panel_heading 'Role' %>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr class="btn-success">
              <th>Nombre del Rol</th>
              <th>Permisos</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @roles.each do |role| %>
              <tr>
                <td><%= role.role_name %></td>
                <td><%= role.permisos_s %></td>
                <td><%= link_to_show role %></td>
                <td><%= link_to_edit edit_role_path(role) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <%= link_to new_role_path, class: "btn btn-success" do%><%= glyph_icon 'Agregar Nuevo Rol', 'plus'%><%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2"></div>
</div>