<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Ver Permisos del Rol</h3>
  </div>
  
  <%= render :partial => "form" %>

  <div class="panel-footer">
    <%= link_to_edit_this edit_role_path(@role) %> | <%= link_to_back roles_path %>
  </div>
</div>
<%= disabler_script %>
