<div class="panel-body">
  <%= form_for(@usuario, html: {class: "new_usuario form-default"}) do |f| %>
    <% if @usuario.errors.any? %>
      <%= error_explanation_dialog @usuario %>
    <% end %>
    <div class="row">
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <%= f.label :usuario %><br>
        <%= f.text_field :usuario, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6 col-md-6 col-lg-6">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-6">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6 col-md-6 col-lg-2">
        <%= f.label :activo %><br>
        <%= f.check_box :activo, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-10">
        <%= f.label :role_id, 'Rol' %><br>
        <%= f.collection_select :role_id, Role.where.not(id: 1), :id, :role_name, {prompt: true}, class: "form-control" %>
      </div>
    </div>
    <div class="row actions panel-footer">
      <%= f.submit %>
    </div>
  <% end %>
</div>