      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.usuario %></td>
          <td><%= "*"*10 %></td>
          <td><%= usuario.nombre %></td>
          <td><%= usuario.email %></td>
          <td><%= check_box_tag 'activo[]', value=1, checked=usuario.activo, {disabled: :true} %></td>
          <td><%= usuario.role %></td>
          <td><%= link_to_show usuario %></td>
          <td><%= link_to_edit edit_usuario_path(usuario) %></td>
          <td><%= link_to_destroy usuario %></td>
        </tr>
      <% end %>
