<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Modificar datos de Usuario</h3>
	</div>
	
	<%= render 'form' %>

	<div class="panel-footer">
		<%= link_to 'Ver', @usuario, class: "btn btn-primary" %> |
		<%= link_to 'Volver', :back, class: "btn btn-info" %>
	</div>
</div>