<div class="panel panel-default">
  <%= panel_heading_with_search_box 'Usuario' %>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="btn-success">
        <th>Usuario</th>
        <th>Password</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Activo</th>
        <th>Rol</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="usuarios_grid">
      <%= render partial: 'usuarios_grid' %>
    </tbody>
  </table>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2">
        <%= link_to new_usuario_path, class: "btn btn-success" do%><%= glyph_icon 'Nuevo Usuario', 'plus'%><%end%>
      </div>
    </div>
  </div>
</div>
