<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Información de Usuario</h3>
  </div>

  <%= render :partial => "form" %>

  <div class="panel-footer">  
    <%= link_to_edit_this edit_usuario_path(@usuario) %> |
    <%= link_to_back usuarios_path %>
  </div>
</div>
<%= disabler_script %>