<div class='panel-body'>
  <%= form_for(@paise, html: {class: 'new_paise form-default'}) do |f| %>
    <% if @paise.errors.any? %>
      <%= error_explanation_dialog @paise %>
    <% end %>

    <div class='form-group'>
      <%= f.label :pais %><br>
      <%= f.text_field :pais, class: 'form-control' %>
    </div>
    <div class='actions'>
      <%= f.submit'Guardar', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>