<p id='notice'><%= notice %></p>

<div class='table-responsive'>
  <caption><h1>Países</h1></caption>
  <table class='table table-striped table-hover'>
  <thead>
    <tr class='info'>
      <th>Pais</th>
      <th colspan='3'>Acción</th>
    </tr>
  </thead>

  <tbody>
    <% @paises.each do |paise| %>
      <tr>
        <td><%= paise.pais %></td>
        <td><%= link_to 'Ver', paise, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Editar', edit_paise_path(paise), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Eliminar', paise, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nuevo País', new_paise_path, class: 'btn btn-success' %>
