<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Nuevo País</h3>
  </div>

  <%= render 'form' %>

 </div>

<%= link_to 'Ver', paises_path, class: 'btn btn-info' %>
