<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Ver maestro</h3>
  </div>
  <div class='panel-body'>
	  <p>
		  <strong>Pais:</strong>
		  <%= @paise.pais %>
		</p>
	</div>
</div>

<%= link_to 'Editar', edit_paise_path(@paise), class: 'btn btn-primary' %> |
<%= link_to 'Volver', paises_path, class: 'btn btn-info' %>
