<%= form_for(@asentamiento) do |f| %>
  <% if @asentamiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asentamiento.errors.count, "error") %> prohibited this asentamiento from being saved:</h2>

      <ul>
      <% @asentamiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :tipo_asentamiento_id %><br>
    <%= f.number_field :tipo_asentamiento_id %>
  </div>
  <div class="field">
    <%= f.label :codigo_postal %><br>
    <%= f.number_field :codigo_postal %>
  </div>
  <div class="field">
    <%= f.label :ciudad_id %><br>
    <%= f.number_field :ciudad_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
