<p id="notice"><%= notice %></p>

<h1>Listing Asentamientos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo asentamiento</th>
      <th>Codigo postal</th>
      <th>Ciudad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asentamientos.each do |asentamiento| %>
      <tr>
        <td><%= asentamiento.nombre %></td>
        <td><%= asentamiento.tipo_asentamiento_id %></td>
        <td><%= asentamiento.codigo_postal %></td>
        <td><%= asentamiento.ciudad_id %></td>
        <td><%= link_to 'Show', asentamiento %></td>
        <td><%= link_to 'Edit', edit_asentamiento_path(asentamiento) %></td>
        <td><%= link_to 'Destroy', asentamiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asentamiento', new_asentamiento_path %>
