<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @asentamiento.nombre %>
</p>

<p>
  <strong>Tipo asentamiento:</strong>
  <%= @asentamiento.tipo_asentamiento_id %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @asentamiento.codigo_postal %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @asentamiento.ciudad_id %>
</p>

<%= link_to 'Edit', edit_asentamiento_path(@asentamiento) %> |
<%= link_to 'Back', asentamientos_path %>
