   <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.category_tree %></td>
          <td><%= category.val1 %></td>
          <td><%= category.val2 %></td>
          <td><%= category.vals1 %></td>
          <td><%= category.vals2 %></td>
          <td><%= category.parent.categoria if category.parent %></td>
          <td><%= category.activo %></td>
          <td><%= category.has_child %></td>
          <td><%= category.node_level %></td>
          <td><%= category.sistema %></td>
          <td><%= category.visible %></td>
          <td><%= link_to 'Ver', category, class: "btn btn-primary btn-xs" %></td>
          <td><%= link_to 'Editar', edit_category_path(category) , class: "btn btn-info btn-xs" %></td>
          <td><%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
        </tr>
      <% end %>