<div class="panel-body">
  <%= form_for(@category, html: {class: "new_category form-default"}) do |f| %>
    <% if @category.errors.any? %>
      <%= error_explanation_dialog @category %>
    <% end %>

    <div class="form-group">
      <%= f.label :categoria %><br>
      <%= f.text_field :categoria, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :val1 %><br>
      <%= f.number_field :val1, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :val2 %><br>
      <%= f.number_field :val2, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :vals1 %><br>
      <%= f.text_field :vals1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :vals2 %><br>
      <%= f.text_field :vals2, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :parent_id %><br>
      <%= f.collection_select :parent_id, @categories_combo, :id, :category_tree, {:selected=>nil, :prompt=> "por favor seleccione"}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :activo %><br>
      <%= f.check_box :activo %>
    </div>
    <div class="form-group">
      <%= f.label :orden %><br>
      <%= f.number_field :orden %>
    </div>
    <div class="form-group">
      <%= f.label :sistema %><br>
      <%= f.check_box :sistema %>
    </div>
    <div class="form-group">
      <%= f.label :visible %><br>
      <%= f.check_box :visible %>
    </div>
    <div class="actions">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
    </div>
  <% end %>
