<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Editar Categoria</h3>
    </div>

    <%= render 'form' %>

</div>

<%= link_to 'Ver', @category, class: "btn btn-primary" %> |
<%= link_to 'Volver', categories_path, class: "btn btn-info"  %>
