

<div class="row panel panel-primary">
  <%= panel_heading_with_search_box 'Categoria' %>
  <div class="panel-body">
  <table id="categoriasTable" class="table table-striped table-hover">
    <thead>
      <tr class="info">
        <th>Id</th>
        <th>Categoria</th>
        <th>Valor 1</th>
        <th>Valor 2</th>
        <th>Valor String 1</th>
        <th>Valor String 2</th>
        <th>Padre</th>
        <th>Activo</th>
        <th>Tiene hijos</th>
        <th>Nivel de nodo</th>
        <th>Sistema</th>
        <th>Visible</th>
        <th colspan="3">Acción</th>
      </tr>
    </thead>
    <tbody id="categorias_grid">
      <%= render :partial => "categorias_grid" %>
    </tbody>
  </table>
  </div>

  <div class="panel-footer">
    <div id="pagination-bar" class="col-sm-12 col-sm-12 col-lg-12">
      <%= render :partial => "pagination_bar"%>
    </div>
  </div>
</div>

<%= link_to 'Nueva Categoria', new_category_path, class: "btn btn-success" %>
