<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Nueva Categoría</h1>
  </div>

  <%= render 'form' %>

</div>

<%= link_to 'Volver', categories_path, class: "btn btn-info" %>
