<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Ver categoría</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Categoria:</strong>
      <%= @category.categoria %>
    </p>

    <p>
      <strong>Val1:</strong>
      <%= @category.val1 %>
    </p>

    <p>
      <strong>Val2:</strong>
      <%= @category.val2 %>
    </p>

    <p>
      <strong>Vals1:</strong>
      <%= @category.vals1 %>
    </p>

    <p>
      <strong>Vals2:</strong>
      <%= @category.vals2 %>
    </p>

    <p>
      <strong>Parent:</strong>
      <%= @category.parent.categoria if @category.parent %>
    </p>

    <p>
      <strong>Tree path:</strong>
      <%= @category.tree_path %>
    </p>

    <p>
      <strong>Activo:</strong>
      <%= @category.activo %>
    </p>

    <p>
      <strong>Has child:</strong>
      <%= @category.has_child %>
    </p>

    <p>
      <strong>Node level:</strong>
      <%= @category.node_level %>
    </p>

    <p>
      <strong>Orden:</strong>
      <%= @category.orden %>
    </p>

    <p>
      <strong>Sistema:</strong>
      <%= @category.sistema %>
    </p>

    <p>
      <strong>Visible:</strong>
      <%= @category.visible %>
    </p>
  </div>
</div>

<%= link_to 'Editar', edit_category_path(@category), class: "btn btn-primary" %> |
<%= link_to 'Volver', categories_path, class: "btn btn-primary" %>
