<div class="panel-body">
  <%= form_for(@estado, html: {class: "new_estado form-default"}) do |f| %>
    <% if @estado.errors.any? %>
      <%= error_explanation_dialog @estado %>
    <% end %>

    <div class="form-group">
      <%= f.label :estado %>
      <%= f.text_field :estado, class: "form-control col-lg-2" %>
    </div>
    <div class="form-group">
      <%= f.label :clave %>
      <%= f.text_field :clave, class: "form-control col-lg-2" %>
    </div>
    <div class="form-group">
      <%= f.label :pais_id %>
      <%= f.collection_select :pais_id, Paise.all, :id, :pais, {prompt: true}, {class: "form-control"} %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>