<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Editing Estado</h3>
  </div>

	<%= render 'form' %>

</div>

<%= link_to 'Ver', @estado, class: "btn btn-primary" %> |
<%= link_to 'Volver', estados_path, class: "btn btn-info" %>
