<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <caption><h1>Estados</h1></caption>
  <table class="table table-striped table-hover">
    <thead>
      <tr class="info">
        <th>Estado</th>
        <th>Clave</th>
        <th>Pais</th>
        <th colspan="3">Acción</th>
      </tr>
    </thead>

    <tbody>
      <% @estados.each do |estado| %>
        <tr>
          <td><%= estado.estado %></td>
          <td><%= estado.clave %></td>
          <td><%= estado.pais.pais if estado.pais %></td>
          <td><%= link_to 'Ver', estado, class: "btn btn-primary btn-xs" %></td>
          <td><%= link_to 'Edit', edit_estado_path(estado), class: "btn btn-info btn-xs" %></td>
          <td><%= link_to 'Eliminar', estado, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Nuevo Estado', new_estado_path, class: "btn btn-success" %>
