<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Nuevo Estado</h3>
  </div>

  <%= render 'form' %>

</div>

<%= link_to 'Volver', estados_path, class: 'btn btn-primary' %>
