<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Ver Estado</h3>
  </div>
  <div class="panel-body">
		<p>
		  <strong>Estado:</strong>
		  <%= @estado.estado %>
		</p>

		<p>
		  <strong>Clave:</strong>
		  <%= @estado.clave %>
		</p>

		<p>
		  <strong>Pais:</strong>
		  <%= @estado.pais_id %>
		</p>

	</div>
</div>

<%= link_to 'Editar', edit_estado_path(@estado), class: "btn btn-primary" %> |
<%= link_to 'Volver', estados_path, class: "btn btn-info" %>
