<%= form_for(@precio) do |f| %>
  <% if @precio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@precio.errors.count, "error") %> prohibited this precio from being saved:</h2>

      <ul>
      <% @precio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.collection_select :category_id, Category.where(parent_id: 213), :id, :categoria %>
  </div>
  <div class="field">
    <%= f.label :concepto_id %><br>
    <%= f.collection_select :concepto_id, Concepto.all, :id, :concepto, {prompt: true} %>
  </div>
  <div class="field">
    <%= f.label :precio_normal %><br>
    <%= f.text_field :precio_normal %>
  </div>
  <div class="field">
    <%= f.label :precio_pronto_pago %><br>
    <%= f.text_field :precio_pronto_pago %>
  </div>
  <div class="field">
    <%= f.label :fecha_pronto_pago %><br>
    <%= f.date_select :fecha_pronto_pago %>
  </div>
  <div class="field">
    <%= f.label :vigencia_de %><br>
    <%= f.date_select :vigencia_de %>
  </div>
  <div class="field">
    <%= f.label :vigencia_hasta %><br>
    <%= f.date_select :vigencia_hasta %>
  </div>
  <div class="field">
    <%= f.label :activo %><br>
    <%= f.check_box :activo %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= text_field_tag 'pago[usuario_id]', current_usuario.id, options={readonly: true} %> <%= current_usuario.usuario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
