<p id="notice"><%= notice %></p>

<h1>Listing Precios</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Category</th>
      <th>Concepto</th>
      <th>Precio normal</th>
      <th>Precio pronto pago</th>
      <th>Fecha pronto pago</th>
      <th>Vigencia de</th>
      <th>Vigencia hasta</th>
      <th>Activo</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @precios.each do |precio| %>
      <tr>
        <td><%= precio.fecha %></td>
        <td><%= precio.category %></td>
        <td><%= precio.concepto %></td>
        <td><%= precio.precio_normal %></td>
        <td><%= precio.precio_pronto_pago %></td>
        <td><%= precio.fecha_pronto_pago %></td>
        <td><%= precio.vigencia_de %></td>
        <td><%= precio.vigencia_hasta %></td>
        <td><%= precio.activo %></td>
        <td><%= precio.usuario %></td>
        <td><%= link_to 'Show', precio %></td>
        <td><%= link_to 'Edit', edit_precio_path(precio) %></td>
        <td><%= link_to 'Destroy', precio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Precio', new_precio_path %>
