<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @precio.fecha %>
</p>

<p>
  <strong>Category:</strong>
  <%= @precio.category %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @precio.concepto %>
</p>

<p>
  <strong>Precio normal:</strong>
  <%= @precio.precio_normal %>
</p>

<p>
  <strong>Precio pronto pago:</strong>
  <%= @precio.precio_pronto_pago %>
</p>

<p>
  <strong>Fecha pronto pago:</strong>
  <%= @precio.fecha_pronto_pago %>
</p>

<p>
  <strong>Vigencia de:</strong>
  <%= @precio.vigencia_de %>
</p>

<p>
  <strong>Vigencia hasta:</strong>
  <%= @precio.vigencia_hasta %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @precio.activo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @precio.usuario %>
</p>

<%= link_to 'Edit', edit_precio_path(@precio) %> |
<%= link_to 'Back', precios_path %>
