
<div class="row panel panel-primary">
	<div class="panel-heading">
		<h5>Compras Personales <%= @cliente %><%= @nombre %></h5>
	</div>
  <div class="panel-body">
    <% if signed_in? %>
  <table class="table-hover">
    <thead>
    	<tr class="info">
    		<% hoy = Date.today %>
    		<% 5.downto(0) do |n| %>
    		<% mes = hoy - ( n * 30)%>

    		<td><%= link_to "#{@mes[mes.month]} - #{mes.year}", "#", class: "btn btn-#{mes.month == hoy.month ? "success": "info"} btn-control", data: {cid: @cliente, month: mes.month, year: mes.year } %></td>
    		<% end %>
    	</tr>
    </thead>
  </table>
  <table class="table table-striped table-hover table-report">
    <thead>
      <tr class="info">
      	<% @columns.each do | field_name, field_caption | %>
        <th><%= field_caption.humanize.upcase %></th>
        <% end %>
      </tr>
    </thead>
    <tbody id="compras_pesonales_grid">
      <%= render partial: 'compras_pesonales_grid' %>
    </tbody>
  </table>
  <% else %>
    <h2>Acceso no permitido, usuario no autenticado</h2>
  <% end %>
  </div>

</div>
