<div class="row">
	<div class="col-sm-0 col-md-1 col-lg-3"></div>
	<div class="col-sm-12 col-md-10 col-lg-6">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<% flash.each do |name, msg| %>
				  <% if msg.is_a?(String) %>
				    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
				      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				      <%= content_tag :div, msg, :id => "flash_#{name}" %>
				    </div>
				  <% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-sm-0 col-md-1 col-lg-6"></div>
</div>