<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (glyph_icon company.humanize, 'home'), root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if usuario_signed_in? %>
        <%= render 'layouts/navigation_links' %>
        <% else %>
        <%= label_tag t(:please_sign_in) %>
        <% end %>
        <li>
            <% if usuario_signed_in? %>
              <%= link_to (glyph_icon "#{current_usuario.nombre}", 'user'), "#", html_options={class: "dropdown-toggle", "data-toggle": "dropdown", "aria-expanded": "false"} %>
              <ul class="dropdown-menu" role="menu">
                <li role="presentacion">
                  <%= link_to (glyph_icon t(:edit_user_profile), 'edit'), edit_usuario_registration_path %>
                </li>
                <li>
                  <%= link_to (glyph_icon t(:logout), 'off'), destroy_usuario_session_path, method: :delete %>
                </li>
              </ul>
            <% else %>
            <%= link_to (glyph_icon t(:login),'log-in'), new_usuario_session_path %>
            <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
