<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Company name here" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Portal name here" %>">
    <script src='https://www.google.com/jsapi'></script> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
        <%= render 'layouts/messages' %>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row"><div class="col-sm-0 col-md-0 col-lg-12">&nbsp;</div></div>
            <div class="row">
              <%= yield %>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
    </main>
    <footer>
      <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1 social-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="col-sm-11 col-md-11 col-lg-11">
          <h5><%= link_to copyright_notice,'#', class: "" %></h5>
        </div>
      </div>
    </footer>      
  </body>
</html>
